<head>
    <style>
        #titolo {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 id="titolo">Regione {{regione}}</h1>
    <div id="img_regione">
        <img src="/regione.png" alt="immagine" loading="lazy">
    </div>
    <h3>Ha un area di {{area}} km2</h3>
    <h3>In {{regione}} sono presenti {{popolazione}} abitanti</h3><br>
    <h3>In {{regione}} fino ad oggi ci sono stati {{covid}} casi di covid</h3><br>
    <div id="province">
        <h3>Le province della {{regione}} sono:
            <ul>
                {% for p in province%}
                    <li>{{p}}</li>
                {%endfor%}
            </ul>
        </h3>
    </div>
    <div id="img_popolazione">
        <img src="/grafici.png" alt="grafico" >
    </div>


</body>