<html>

    <head>

    </head>

    <body>

        <form action="/quiz/controllo" method="GET">
            <div>
                <p>{{domanda}}</p>

                <input type="radio" name="scelta" value="{{opzione1}}">{{opzione1}}<br>
                <input type="radio" name="scelta" value="{{opzione2}}">{{opzione2}}<br>
                <input type="radio" name="scelta" value="{{opzione3}}">{{opzione3}}<br>

                <p><input type = "submit" value = "Submit"></p>
            </div>
        </form>
                
    </body>

</html>