<head>

</head>
<body>
    
<form action="/registrazione" method="POST">
    <div>
        <h1 id="registrati">Registrati</h1>
        <H2>Username <input type="text" name="Username" id="username" required></H2>
        <H2>Password <input type="text" name="Password" id="password" required></H2>
        <H2>Conferma Password <input type="text" name="Password" id="password" required></H2>

        <a href="/login"><input type="button" value="Login" id="loginbtn"></a>
        <input type="submit" value="Registrati" id="registrati">
    </div>
</form>
</body>